<div class="jumbotron">
    <h1>Ready to have fun?</h1>
    <a class="btn btn-large btn-success" role="button" data-toggle="modal" data-target="#infoModal">Get Started</a>
</div>
<div class="row-fluid">
  <div class="span6">
    <h2>Crispy!</h2>
    <p>
      It's crisp like a perfectly done cookie or a good cracker! Just the right amount of crunch--just enough to satisfy but not enough to shock or overwhelm. More food should be this good.
    </p>
    <h2>Chicken!</h2>
    <p>
      Everyone's favorite white meat! Lean, delicious, and comes from an ugly bird that you don't really mind killing! Well, they're cute when they're young but there's not really any meat on them at that point.
    </p>
    <h2>Sandwich</h2>
    <p>
      The best and most versatile food; portable, delicious, fast, and easy, it's a favorite the world around. Why not snuggle up to a loved one and share the romance of a delightful ensemble of delicious fillings between two or more slices of bread?
    </p>
  </div>
  <div class="span6">
    <h2>Not Soggy!</h2>
    <p>
      Nothing is worse than soggy chicken, and we're all about doing things right, so we only will deliver the crispyest, more perfect chicken there ever was. Perfection is only the starting point.
    </p>
    <h2>Real Chicken!</h2>
    <p>
      That's right, we don't use fake chicken.  That means no turkey, no cornish game hens, no ducks or other water fowl, and certainly no hummingbirds because they are really cute and probably don't taste very good.
    </p>
    <h2>Really, a Sandwich!"</h2>
    <p>
      Yes, we hate food that comes on a plate that you have to eat with a fork and knife. Portable food like sandwiches are the future, and we're all about embracing the newest technologies.
    </p>
  </div>
</div>
<!--modal!-->
<div class="modal hide fade" id="infoModal" tabindex="-1" role="dialog" arialabelledby="infoModalLabel" arai-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="infoModalLabel">Add New Event!</h2>
      </div>
      <div class="modal-body">
       <h4>Let's start with your details...</h4>
       <%= form_for @user do |f| %>
       <p>
        <%= f.label :firstname, 'First Name' %>
        <%= f.text_field :firstname %>
      </p>
      <p>
        <%= f.label :lastname, 'Last Name' %>
        <%= f.text_field :lastname %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </p>
      <p>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <%= f.submit "Next", class: "btn btn-primary" %>
      </p>
      <% end %>
    </div>
  </div>
</div>
